 .Titlename{ 
    font-size: 20px;
    width: 150px;
    height: 75px;
    background-color: turquoise;
    color:white;

}

.aboutme{
    color: #4aaaa5;
}


ul {
    padding: 20px;
    float: right;
    list-style: lower-alpha;
    margin: 0;
    
}



/.ft{ 
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: turquoise;
  color: white;
  text-align: center;
  padding: 50px;

}*/

 .Section { 
    width :960px;
    display: block; 
 }






