.Titlename{
    font-size: 20px;
    width: 150px;
    height: 75px;
    background-color: turquoise;
    color:white;

}

.aboutme{
    background-color: turquoise;
    color: white;
}


ul {
    list-style: lower-alpha;
    margin: 0;
    padding: 0;
}